*
{
    margin: 0%;
    padding: 0%;
}
body a{
    font-weight: bold;

}
    .navbar {
    overflow: hidden;
    text-align: center;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.sec-1{
    margin-left: 18%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
    
}
.sec-1 a{
    color:  rgb(49, 46, 46);
    font-weight: bold;
    
}
.firstsection{
    margin-left: 18%;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.sub-sec1 a{
  margin-left: 30%;
  text-decoration: none;
  color: red;
  font-weight: bolder;
  font-size: smaller;
}
.firstsection h2{
margin-left: 9%;
}
.firstsection h5{
    margin-left: 20%;
    color: rgb(68, 60, 60);   
    font-weight: bold;

}
.sec-2{
    margin-left: 18%;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.sec-2 ul{
    margin-left: 3%;
}
.sec-3{
    margin-left: 18%;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.sec-4{
    margin-left: 18%;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.sec-5{
    margin-left: 18%;
    line-height:2; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.sec-5 a{
    color:  #3a143a;
    font-weight: bold;
}
.sec-5 ul{
    margin-left: 3%;
}
.sec-6{
    margin-left: 18%;
    line-height:2; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.sec-6 a{
    color:  #3a143a;
    font-weight: bold;
}
.sub-sec3{
    text-align: center;
    margin-right: 25%;
    font-weight: bolder;
}
.sec-7{
    margin-left: 18%;
    line-height:2; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.sec-7 a{
    color:  #3a143a;
    font-weight: bold;
}
.sub-sec4{
    font-style: italic;
    font-weight: 100;
    color: hwb(0 19% 80%);
}
.sec-8{
    
    line-height:2; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-left: 18%;
    
    
}
.sec-8 h5{
    display: inline-flex;
    
}
.sec-8 h5{
    margin-left: 20%;
}
.sub-sec7{
    margin-left: 17%;
}
.sub-sec8{
    text-align: center;
}
.sub-sec9 a{
    margin-left: 47%;
    text-decoration: none;
    font-weight: bold;
    color: rgb(68, 60, 60);   
}
.foot{
    background-color: black;
    color:white;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgp{
    display: flex;
    bottom: 100px;
    margin-left: 2%;
}
.imgp a{
    color: white;
}
.social-links i{
    left: 10%;
    font-size: 40px;
}